/* Source: https://www.w3schools.com/howto/howto_css_modals.asp */

.modal-settings {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-box {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.whitebutton {
    color:white;
}

.newnotification {
    margin-left:30px;
    bottom:0.3rem;

}

@keyframes changewidth {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

/* Expands Notifications Icon Red Dot */
.expanding {
  animation-duration: 0.33s;
  animation-name: changewidth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Notifications Icon Turns Red */
.red_filter {
    filter:invert(16%) sepia(74%) saturate(7468%) hue-rotate(359deg) brightness(103%) contrast(113%)
    }

/* Notifications Bolded Text */
.heavy-text {
    font-weight: 900;

}