.photos-list-form {
    position: sticky;
    top: 57px;

}

.photos-headers {
    position: sticky;
    top: 141px;
}

.calendar-form {
    position: sticky;
    top: 57px;
}

.events-list-form {
    position: sticky;
    top: 141px;
}

.events-headers {
    position: sticky;
    top: 179px;
}