{% extends "app-tracker/base.html" %}
{% load crispy_forms_tags %}


{% block title %}Password Change{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-black">
                <div
                    class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
                    <form method="post" style="width: 23rem;">
                        {% csrf_token %}
                        <h3 class="fw-normal mb-3 pb-3"
                            style="letter-spacing: 1px;">Update your
                            password.</h3>

                        <p>Please enter your old password, and then enter your
                            new password twice.</p>

                        <div class="form-outline mb-4">
                            {{ form|crispy }}
                        </div>

                        <div class="pt-1 mb-4">
                            <input class="btn btn-success" type="submit"
                                   value="Change my password">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img
                    src="https://images.unsplash.com/photo-1444676632488-26a136c45b9b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1937&q=80"
                    alt="Login image" class="w-100 vh-100"
                    style="object-fit: cover; object-position: center;">
            </div>
        </div>
    </div>
</section>
<div class="position-absolute bottom-0 start-0">
    Photo by <a
    href="https://unsplash.com/@mattrobinjones?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Matt
    Jones</a> on <a
    href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
</div>
{% endif %}
{% endblock %}