{% extends "app-tracker/base.html" %}

{% block title %}Event Details{% endblock title %}

{% block content %}
{% if user.is_authenticated %}



  <div class="card mb-3">
    <img src="{{ event.photo.url }}" class="card-img-top img-fluid" >
    <div class="card-body">
      <h5 class="card-title">Photo Taken at {{ event.created }}</h5>
      <p class="card-text">Location: <a href="">{{ event.photo }}</p>
      <p class="card-text"><small class="text-muted">User:</strong> {{ event.user }}</small></p>
      <form action="{% url 'delete_event' event.id %}" method="GET">
        {% csrf_token %}
        <input type="submit" value="Delete" class="btn btn-success"/>
      </form>
    </div>
  </div>

{% else %}
  <p>Welcome to the Delivery Tracker! Please log in.</p>
{% endif %}
{% endblock content %}