{% extends "app-tracker/base.html" %}
{% load render_table from django_tables2 %}

{% block title %}Events{% endblock title %}

{% block content %}


<script>
<!--Finds all checkboxes to toggle select all button-->
    function clickHandler() {
      var selected=document.getElementsByTagName('input');
      for (var i=0; i<selected.length; ++i) {
        if (selected[i].name.startsWith("selected_events")) {
          if (selected[i].checked) {
            selected[i].checked=false;
          } else {
            selected[i].checked=true;
          }
          selected[i].onchange();
        }
      }
    }

<!--Finds all checkboxes to enable or disable delete button-->
    function buttonChangeHandler(button){
      if(button.checked) {
          deletebtn.disabled=false;
        } else {
          var selected=document.getElementsByTagName('input');
          var selectedExists = true;
          for (var i=0; i<=selected.length; ++i) {
            if (selected[i] && selected[i].type != null &&
            selected[i].type=='checkbox' && selected[i].name.startsWith("selected_events")) {
              if (selected[i].checked) {
                selectedExists = false;
                break;
              }
            }
          }
          if (selectedExists){
            deletebtn.disabled=true;
          }
        }
    }
</script>



  {% if user.is_authenticated %}
    <p></p>
    <p></p>
    Select By Date <form action="/events_by_date/" method="post">
    {% csrf_token %}
      {{ form.as_table }}
      <input type="submit" value="Submit" />
    </form>
    <p></p>
    <p></p>

    <form action="{% url 'events_delete' %}" method="post">
      {% csrf_token %}
      <input type="submit"  value="Delete Events" id="deletebtn" disabled>
      <input onclick="clickHandler()" type="button" value="Select All Events">
      <p></p>
      <p></p>

    <h2>Events : {{ table.rows|length }}</h2>
    {% render_table table %}
                </form>


    {% if event_list %}
      <ul style="list-style-type: none;">
      {% for event in event_list %}
        <li>
          <a href="{% url 'event_detail' pk=event.id %}"><img src="{{ event.photo.url }}" width="100" height="100"></a>
          <a href="{% url 'event_detail' pk=event.id %}">Event Details</a>
          ({{event.created}}) ({{event.user}})
            <br></br>
        </li>
      </ul>
      {% endfor %}
    {% endif %}
  {% else %}
    <p>Welcome to the Delivery Tracker! Please log in.</p>
  {% endif %}
{% endblock content %}