{% extends "app-tracker/base.html" %}
{% load render_table from django_tables2 %}
{% block title %}Photos{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<form id="photos_list_form" action="{% url 'photos_delete' %}"
      method="post">
    {% csrf_token %}
    <div class="bg-body photos-list-form">
        <h2>Photos : {{ table.rows|length }}</h2>
        <input class="btn btn-danger" type="submit"
               onclick="return confirm('Are you sure you want to delete?')"
               value="Delete Photos" form="photos_list_form"
               style="color: white"
               id="deletebtn"
               disabled>
        <input class="btn btn-secondary" onclick="photoClickHandler()"
               type="button"
               value="Select All Photos" style="color: white"
               form="photos_list_form">
    </div>
    {% render_table table %}
</form>
{% endif %}
{% endblock content %}