<!--Source - Modified from: https://merakiui.com/components/dropdowns-->

<div x-data="user_notifications_dropdown" class="tw-relative tw-inline-block"
     xmlns:x-transition="http://www.w3.org/1999/xhtml">
    <!-- Dropdown toggle button -->
    <button @click="toggle()"
            class="tw-relative tw-z-10 tw-block tw-p-2 tw-text-gray-700 tw-bg-white tw-border tw-border-transparent tw-rounded-md focus:tw-border-blue-500 focus:tw-ring-opacity-40 focus:tw-ring-blue-300 focus:tw-ring focus:otw-utline-none">
        <svg xmlns="http://www.w3.org/2000/svg"
             xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
             width="17.28pt"
             height="17.28pt"
             viewBox="0 0 17.28 17.28"
             style="position:absolute"
             id="bell">
            <defs/>
            <path id="shape0"
                  transform="matrix(0.72 0 0 0.72 2.88000000000001 1.44000000000001)"
                  fill="#000000" stroke-opacity="0" stroke="#000000"
                  stroke-width="0" stroke-linecap="square"
                  stroke-linejoin="bevel"
                  d="M8 20C6.8954 20 6 19.1046 6 18L10 18C10 19.1046 9.1046 20 8 20ZM16 17L0 17L0 15L2 14L2 8.5C2 5.038 3.421 2.793 6 2.18C6 1.45333 6 0.726667 6 0C7 0 8 0 9 0C8.3479 0.86394 7.9967 1.91762 8 3C8 3.25138 8.0187 3.50241 8.056 3.751L8 3.751C6.7799 3.67197 5.60301 4.21765 4.875 5.2C4.25255 6.18456 3.94714 7.33638 4 8.5L4 15L12 15L12 8.5C12 8.289 11.993 8.086 11.979 7.9C12.6405 8.0366 13.3226 8.039 13.985 7.907C13.996 8.118 14 8.319 14 8.507L14 14L16 15Z"
                  sodipodi:nodetypes="cccccccccccccccccccccccccc"/>
            <path id="shape1"
                  transform="translate(8.92968355794164, -9.92576151873989)"
                  fill="#000000"
                  d="M0 0L8.88178e-16 0L14.7 25.4611L14.7 25.4611"
                  sodipodi:nodetypes="cccc"/>
            <path id="shape2"
                  transform="translate(8.26280501083608, -6.90519398184999)"
                  fill="#000000"
                  d="M0 0L-8.88178e-16 0L14.7 25.4611L14.7 25.4611"
                  sodipodi:nodetypes="cccc"/>
            <path id="shape0"
                  transform="matrix(-0.719999986128374 0 0 0.719999986128374 12.9600000936335 1.4400000554865)"
                  fill="#000000" stroke-opacity="0" stroke="#000000"
                  stroke-width="0" stroke-linecap="square"
                  stroke-linejoin="bevel"
                  d="M0 8.5C0 5.038 1.421 2.793 4 2.18C4 1.45333 4 0.726667 4 0C5 0 6 0 7 0C6.3479 0.86394 5.9967 1.91762 6 3C6 3.25138 6.0187 3.50241 6.056 3.751L6 3.751C4.7799 3.67197 3.60301 4.21765 2.875 5.2C2.25255 6.18456 1.94714 7.33638 2 8.5Z"
                  sodipodi:nodetypes="cccccccccc"/>
        </svg>


        <svg xmlns="http://www.w3.org/2000/svg"
             xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
             width="17.28pt"
             height="17.28pt"
             viewBox="0 0 17.28 17.28"
             id="unread_dot">
            <defs/>
            <path id="shape0"
                  transform="matrix(0.72 0 0 0.72 10.0798026510606 1.44004483086635)"
                  fill="#000000" stroke-opacity="0" stroke="#000000"
                  stroke-width="0" stroke-linecap="square"
                  stroke-linejoin="bevel"
                  d="M3.00027 5.99994C2.61681 6.39128 1.80577 5.81833 1.30727 5.47694C0.129074 4.67152 -0.318626 3.14755 0.236774 1.83284C0.792174 0.518138 2.19687 -0.223282 3.59567 0.0599777C4.99447 0.343228 6.00007 1.57274 6.00027 2.99994C6.00027 4.65679 4.65717 5.99994 3.00027 5.99994Z"
                  sodipodi:nodetypes="cccccc"/>
        </svg>
    </button>

    <!-- Dropdown menu -->
    <div x-show="isOpen"
         @click.away="isOpen = false"
         x-transition:enter="transition ease-out duration-100"
         x-transition:enter-start="opacity-0 scale-90"
         x-transition:enter-end="opacity-100 scale-100"
         x-transition:leave="transition ease-in duration-100"
         x-transition:leave-start="opacity-100 scale-100"
         x-transition:leave-end="opacity-0 scale-90"
         class="tw-absolute tw-right-0 tw-z-20 tw-w-64 tw-mt-2 tw-overflow-hidden tw-bg-white tw-rounded-md tw-shadow-lg notification-window"
         style="display:none">
        <div class="tw-py-2">
            <template x-for="(item, index) in notifications" :key="item.id">
                <div
                   class="tw-flex tw-items-center tw-px-4 tw-py-3 tw--mx-2 tw-transition-colors tw-duration-300 tw-transform tw-border-b tw-border-gray-100 hover:tw-bg-gray-50">
                    <p class="tw-mx-2 tw-text-sm tw-text-gray-600">

                    <span>
                        <svg class="tw-h-8 tw-w-8 tw-text-red-500" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round">  <path
                            d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/>  <circle
                            cx="12" cy="13" r="4"/></svg>
                    </span></p>
                    <div>

                    <a :href="'../events/'+item.target_object_id"><p :class="{'heavy-text':item.unread, 'event-text-margin':true}"
                       x-text="item.verb"></p></a><span
                    class="tw-text-blue-500 hover:tw-underline" href="#"></span>
                        <span class="time-since-created" style="color:#808080" href=""onclick="return false;" :id="'how-long-ago'+index"></span>
                    </div>
                </div>
            </template>
        </div>
        <a href="../inbox/notifications/"
           class="tw-block tw-py-2 tw-font-bold tw-text-center tw-text-white tw-bg-gray-800 hover:tw-underline">See
            all notifications</a>
    </div>
</div>

